.bglog {
    background-image: url(./../../assets/login.png);
}

.transbg {
    background-color: #1d1d1d30;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), rgba(186, 186, 186, 0.22);
    backdrop-filter: blur(2.0999999046325684px);
}